:root {

  --colour-brand-blue: #0058a3;
  --colour-brand-yellow: #ffdb00;

  --colour-feedback-warning: #ffa524;
  --colour-feedback-error: #e00751;
  --colour-feedback-confirmation: #0a8a00;
  --colour-feedback-information: var(--colour-brand-blue);
  --colour-feedback-focus: #4595ff;

  --colour-launch-green-300: #c6ed9e;
  --colour-launch-green-500: #d1f1b1;
  --colour-launch-green-700: #93ba6b;
  --colour-launch-lightblue-300: #8fc3ff;
  --colour-launch-lightblue-500: #73b4ff;
  --colour-launch-lightblue-700: #5c90cc;
  --colour-launch-aqua-300: #95ebd5;
  --colour-launch-aqua-500: #7ae6ca;
  --colour-launch-aqua-700: #62b8a2;
  --colour-launch-purple-300: #a56dc9;
  --colour-launch-purple-500: #8e48bb;
  --colour-launch-purple-700: #723a96;

  --colour-neutral-white: #ffffff;
  --colour-neutral-grey-100: #f5f5f5;
  --colour-neutral-grey-200: #dfdfdf;
  --colour-neutral-grey-300: #cccccc;
  --colour-neutral-grey-500: #959595;
  --colour-neutral-grey-700: #666666;
  --colour-neutral-grey-800: #333333;
  --colour-neutral-grey-900: #111111;

  --colour-red-in-store-location: #cc0008;

  --colour-product-bti-yellow: #ffdb00;
  --colour-product-bti-red: #ef4123;
  --colour-product-new: #ca5008;
  --colour-product-nlp: #111111;
  --colour-product-tro: #cc0008;

  --divider-colour-vertical: var(--colour-neutral-grey-300);
  --divider-colour-horizontal: var(--colour-neutral-grey-300);
  --divider-colour-vertical-scroll: var(--colour-neutral-grey-700);
  --divider-colour-horizontal-heading: var(--colour-neutral-grey-700);

  --border-colour-idle: var(--colour-neutral-grey-500);
  --border-colour-hover: var(--colour-neutral-grey-700);
  --border-colour-focus: var(--colour-feedback-focus);
  --border-colour-disabled: var(--colour-neutral-grey-300);

  --colour-ikea-family-blue: #0077c8;

}
